apscheduler==3.11.3
fastapi==0.141.1
passlib==1.7.4
pydantic==2.13.5
pydantic_settings==2.15.0
PyJWT==2.13.0
SQLAlchemy==2.0.52
starlette==1.6.0
uvicorn[standard]
pydantic[email]
psycopg2-binary
resend
python-multipart
sib-api-v3-sdk
