<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Campus Clinic</title>

    <link rel="stylesheet"
    href="/static/home.css">
</head>
<body>

    <div class="container">

        <h1>CAMPUS CLINIC</h1>

        <p>
            Fast, Secure and Reliable Healthcare
            Management System
        </p>

        <div class="buttons">

            <form action="/login">
                <button type="submit">
                    LOGIN
                </button>
            </form>

            <form action="/register">
                <button type="submit">
                    REGISTER
                </button>
            </form>

        </div>

    </div>

</body>
</html>