<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form id="login-form">
        
        <input type="text" id="username" placeholder="Username" required>
        <br><br>

        
        <input type="password" id="password" placeholder="Password" required>
        <br><br>



        <button type="submit">
            LOGIN
        </button>
        <p>DON'T HAVE AN ACCOUNT</p>
        <a href="/register">REGISTER</a>
    </form>

    <script>
        const form = document.getElementById("login-form");
        form.addEventListener("submit", (event)=>{
            event.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const formData = new FormData();
            formData.append("username", username);
            formData.append("password", password);
            fetch("/Campus_clinic/login",{method:"POST",body:formData})
            .then((response)=>{if(!response.ok){ throw new Error("Invalid Username or Password."); }
            return response.json();})
            .then((data)=>{localStorage.setItem("token", data.access_token);
                alert("Login Successful");
                window.location.href="/dashboard";
            })
            .catch((error)=>{ alert(error.message); });


        });
    </script>
</body>
</html>