<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet"
    href="/static/register.css">

</head>
<body>


<div class="container">

    <h1>REGISTER</h1>

    <p>
        Create your Campus Clinic account.
    </p>


    <form id="register-form">

        <input
        type="text"
        id="username"
        placeholder="Username"
        required>


        <input
        type="email"
        id="email"
        placeholder="Email"
        required>


        <input
        type="password"
        id="password"
        placeholder="Password"
        required>



        <select id="role">

            <option value="Student">
                Student
            </option>

            <option value="Doctor">
                Doctor
            </option>

        </select>


        <button type="submit">
            REGISTER
        </button>

    </form>


    <h4>
        Already have an account?
    </h4>

    <a href="/login">
        LOGIN
    </a>


</div>



<script>

        const form =
        document.getElementById(
            "register-form"
        );


        form.addEventListener(
            "submit",

        (event)=>{

        event.preventDefault();


        const username =
        document.getElementById(
            "username"
        ).value;


        const password =
        document.getElementById(
            "password"
        ).value;


        const email =
        document.getElementById(
            "email"
        ).value;


        const role =
        document.getElementById(
            "role"
        ).value;



        const userData = {

            username:username,
            email:email,
            password:password,
            role:role

        };


        fetch(

        "/Campus_clinic/register",

        {

        method:"POST",

        headers:{

        "Content-Type":
        "application/json"

        },

        body:
        JSON.stringify(userData)

        }

        )

        .then((response)=>{

        if(!response.ok){

        throw new Error(
        "Registration Failed."
        );

        }

        return response.json();

        })

        .then((data)=>{

        alert(
        "Registration Successful!"
        );

        window.location.href =
        "/login";

        })

        .catch((error)=>{

        alert(error.message);

        });


        });


</script>


</body>
</html>